<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955698548905-b0gngqc24jlo5h689aqs4lao6v55pc9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955698548905-b0gngqc24jlo5h689aqs4lao6v55pc9r</string>
	<key>API_KEY</key>
	<string>AIzaSyB4Xyxy69jUqJB99pjL022w2YXWhmoBJ4U</string>
	<key>GCM_SENDER_ID</key>
	<string>955698548905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.audyobook</string>
	<key>PROJECT_ID</key>
	<string>audyoplayer</string>
	<key>STORAGE_BUCKET</key>
	<string>audyoplayer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955698548905:ios:23883b5062316a6ab2d9b8</string>
</dict>
</plist>